.topbar{
    width:100%;
    height:50px;
    background-color: rgb(255, 255, 255);
    position: sticky;
}

.topbarWrapper{
    height: 100%;
    padding: 0 20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    color:rgb(0, 0, 0)
}
.topRight{
    display: flex;
    align-items: center;
    margin: 5px;
    z-index:999;    
}

.topbarIconContainer{
    margin-right: 10px;
    cursor:pointer;
}

.avatar{
    height:30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}