.userList{
    flex:4;
}

.btnEdit{
    border: none;
    border-radius: 10px;
    background-color: #3bb077;
    padding: 5px 10px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}   

.btnDelete{
    cursor: pointer;
}

.userHeading{
    display: flex;
    align-items: center;
}

.search{
    margin: 10px 15px;
    width: 55%;
    height: 35px;
    border: 1px solid gray;
    border-radius: 4px;
}
